body {
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.navbar-left {
    display: flex;
    align-items: center;
}

.navbar-left img {
    height: 50px;
    margin-right: 10px;
    border-radius: 50%;
}

.navbar a {
    color: black;
    padding: 15px 25px;
    text-decoration: none;
    font-size: x-large;
}

.navbar a:hover {
    background-color: aqua;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 75px;
    height: 500px;
}

.hero img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.hero .text {
    font-size: 36px;
    font-weight: bold;
    white-space: nowrap;
}

.content {
    display: flex;
    margin: 20px;
}

.content .text {
    flex: 3;
    padding-right: 20px;
}

.content .image {
    flex: 2;
}

.content img {
    width: 100%;
    height: auto;
}

.content2 {
    display: flex;
    margin: 20px;
}

.content2 .image {
    flex: 2;
    padding-right: 20px;
}

.content2 .text {
    flex: 3;
}

.content2 img {
    width: 100%;
    height: auto;
}

.video {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    height: 450px;
    box-sizing: border-box;
}

.video iframe {
    width: 800px;
    height: 450px;
}

.par {
    position: relative;
    display: flex;
    text-align: center;
    margin-top: 75px;
    font-size: larger;
    line-height: 25px;
    border: 2px solid rgb(233, 11, 11);
    word-wrap: break-word;
    background-color: aqua;
}
form {
    position: relative;
    margin-top: 15px;
    margin-left: 4px;
    font-weight: 600;
}